<!-- navigation -->
<div class="top-bar menu align-middle">
  <div class="top-bar-left align-middle">
      <%= link_to residences_path do %>
        <%= image_tag( root_url + "favicon-32x32.png", size: "70x70", :alt => "My Home") %>
      <% end %>

        <a href="https://bluechiprealtygroup.com/agents/arlo-nugent/">Provided by: Arlo Nugent, Blue Chip Realty Group</a>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <%- if current_user -%>
        <li><%= link_to 'username', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
    </ul>
  </div>
</div>
  <div>
    <div class="top-bar menu align-middle">
      <div class="top-bar-left align-middle">

            <%= link_to 'My Home', residences_path %>

            <%= link_to 'Add Possessions', realtors_path %>

            <%= link_to 'Example', root_path %>

            <%= link_to 'About', about_path %>

            

            
      </div>
</div>

