<!-- navigation -->

<div class="top-bar menu align-middle">

  <div class="top-bar-left align-middle">
      <%= link_to residences_path do %>
        <%= image_tag( root_url + "favicon-32x32.png", size: "70x70", :alt => "My Home") %>
      <% end %>

      <%- if current_user -%>
        <a href="<%= current_user.realtor.URL %>">Provided by: <%= current_user.realtor.name %>, <%= current_user.realtor.company %></a>
      <%- else -%>
        <p> can't show a realtor because no one logged in <p>
      <%- end -%>
  </div>

  <div class="top-bar-right">
       <%- if current_user -%>
        <%= link_to current_user.email, root_path %> 
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <%- else -%>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <%= link_to 'Sign In', new_user_session_path %>
      <%- end -%>
  </div>

</div>

<div>
  <div class="top-bar menu align-middle">
    <div class="top-bar-left align-middle submenu">
          <%= link_to 'My Home', residences_path %>
          <%= link_to 'Add Possessions', realtors_path %>
          <%= link_to 'Example', demo_path %>
          <%= link_to 'About', about_path %>   
    </div>
  </div>
</div>

