<!-- navigation -->

<div class="top-bar menu align-middle">

  <div class="top-bar-left align-middle">
    <%- if current_user -%>
      <%= link_to residences_path do %>
        <%= image_tag( root_url + "favicon-70x70.png", size: "70x70", :alt => "My Home") %>
      <% end %>
      <%= link_to residences_path do %>
        <div class="black-lettering"> My-Home </div> 
      <% end %>
    <% else -%>
      <%= link_to pleasesignin_path do %>
        <%= image_tag( root_url + "favicon-70x70.png", size: "70x70", :alt => "My Home") %>
      <% end %>
      <%= link_to pleasesignin_path do %>
        <div class="black-lettering"> My-Home </div> 
      <% end %>
    <% end %>
    
      
      <%- if current_user && current_user.residence-%>
          <!-- <a href="<%= current_user.realtor.URL %>">Provided by: <%= current_user.realtor.name_and_company %></a> -->
          <a href="<%= residences_path %>">Provided by: <%= current_user.realtor.name_and_company %></a>
      <%- elsif !current_user -%>
        <!-- Can't show a realtor because no one is logged in -->
        <a href="">Please sign in</a> 
      <% elsif !current_user.residence%>
          <!-- Can't show a realtor because user has no residence -->
          <a href=""><%= current_user.email %> has no residence assigned</a> 
      <%- end -%>
  </div>

  <div class="top-bar-right">
       <%- if current_user -%>
        <%= link_to current_user.email, root_path %> 
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <%- else -%>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <%= link_to 'Sign In', new_user_session_path %>
      <%- end -%>
  </div>

</div>

<div>
  <div class="top-bar menu align-middle">
    <div class="top-bar-left align-middle submenu">
  
          <%- if current_user -%>
            <%= link_to 'My Home', residences_path %>
          <%- else -%>
            <%= link_to 'My Home', pleasesignin_path %>
          <%- end -%>

          <%- if current_user && current_user.residence == nil -%>
            <%= link_to 'Create My Residence', residences_new_path %>
          <%- end -%>
          <!-- <%= link_to 'Add Possessions', root_path %> -->
          <%= link_to 'Example', demo_path %>
          <%= link_to 'News', news_path %>
          <%= link_to 'FAQ', faq_path %>
          <%= link_to 'About', about_path %> 
    </div>
    <%- if current_user && current_user.admin? -%>
      <div class="top-bar-left align-middle submenu">
            <%= link_to 'All Residences', residences_path %>
            <%= link_to 'See Residences by Realtors', realtors_path %>
            <%= link_to 'Activity', activities_path %> 
      </div>
    <%- end -%>
    
  </div>
</div>
