<!-- my-home: application.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>My Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <!-- stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">

  </head>

  <body>
    <div class="web-site-meat">
      <%=  render "layouts/navbar"%>   

      <%- flash.each do |key, value| -%>
        <div class="flash flash-<%= key %>">
          <%= value %>
        </div>
      <%- end -%>

      <!-- main content -->
      <!-- from index.html.erb -->
      <%= yield %>

      <%= javascript_include_tag 'application' %>
      <%- if Rails.env.development? || Rails.env.test? -%> 
        <%= javascript_tag do %>
          window.railsEnv = '<%= Rails.env %>'
        <%- end -%>
      <%- end -%>
      <%= javascript_pack_tag 'application' %>
      <%= yield :extra_footer %>
    </body>
  </div>
</html>
